$colors: (
    Funk: ( Primary: #165992, Second: #1976c5, Third: #1e92f4, Fourth: #61b2f7, Fifth: #9fcef6) ,
    Notify: ( Primary: #07294e, Second: #1c436d, Third: #466a92, Fourth: #7b9abd, Fifth: #c1cfde ),
    Antan: ( Primary: #fe2f00, Second: #c44b30, Third: #c66b57, Fourth: #a76e62, Fifth: #e8bdb4 ),
    Warning: ( Primary: #ffbf00, Second: #ffd24a, Third: #ffde7b, Fourth: #ffe9a6, Fifth: #fff2cb ),
    Danger: ( Primary: #8c101b, Second: #a12d37, Third: #ca5660, Fourth: #ed7781, Fifth: #ffcacf ),
    Success: ( Primary: #195f34, Second: #238649, Third: #2eac5e, Fourth: #4bcc7c, Fifth: #a0edbd ),
    Info: ( Primary: #2894aa, Second: #46a3b6, Third: #68b7c7, Fourth: #8bc8d4, Fifth: #c4e7ee )
);
