@use "sass:string" as str;
@use "sass:math" as math;

@function lower($str) {
    @return str.to-lower-case(#{$str});
}

@function upper($str) {
    @return str.to-upper-case(#{$str});
}

@function up($nr) {
    @return $nr + 1;
}

@function down($nr) {
    @return $nr - 1;
}

@function camelCase($str, $firstUpper: false) {
    $result: '';
    $i: 1;

    @while $i <=str.length($str) {
        $s: str.slice($str, $i, $i);

        @if ($s =='_') or ($s =="-") {
            $i: up($i);

            $result: $result + upper(str.slice($str, $i, $i));
        }

        @else if ($s ==' ') {
            $result: $result + upper(str.slice($str, $i + 1, $i + 1));
            $i: up($i);
        }

        @else {
            $result: $result + $s;
        }

        @if $firstUpper {
            $result: upper(str.slice($result, 1, 1)) + str.slice($result, 2);
        }

        @else {
            $result: lower(str.slice($result, 1, 1)) + str.slice($result, 2);
        }

        $i: up($i);
    }

    @return $result;
}

@function trainCase($str, $firstUpper: false) {
    $result: '';
    $i: 1;

    @while $i <=str.length($str) {
        $s: str.slice($str, $i, $i);

        @if ($s =='_') {
            $i: up($i);

            $result: $result + '-' + upper(str.slice($str, $i, $i));
        }

        @else if ($s ==' ') {
            $result: $result + '-' + upper(str.slice($str, $i + 1, $i + 1));

            $i: up($i);
        }

        @else {
            $result: $result + $s;
        }

        $i: up($i);
    }

    @if $firstUpper {
        $result: upper((str.slice($result, 1, 1))) + str.slice($result, 2);
    }

    @else {
        $result: lower(str.slice($result, 1, 1)) + str.slice($result, 2);
    }

    @return $result;
}

@function toCase($str, $case: CamelCase, $firstUpper: false) {
    $result: $str;

    @if (upper($case)==CAMEL) {
        $result: camelCase($str, $firstUpper);
    }
    @else if (upper($case)==TRAIN) {
        $result: trainCase($str, $firstUpper);
    }

    @return $result;
}

@function translate($str) {
    @if (equals($str, Standard)) {
        $str: "std";
    }
    @else if (equals($str, Small)) {
        $str: "sm";
    }
    @else if (equals($str, Medium)) {
        $str: "md";
    }
    @else if (equals($str, Large)) {
        $str: "lg";
    }
    @else if (equals($str, Responsive)) {
        $str: "r";
    }
    @else if (equals($str, Margin)) {
        $str: "mrg";
    }
    @else if (equals($str, Padding)) {
        $str: "pad";
    }
    @else if (equals($str, Clear)) {
        $str: "clr";
    }
    @else if (equals($str, Initial)) {
        $str: "init";
    }

    @return lower($str);
}

@function equals($str, $compare, $ignoreCase: true) {
    @if ($ignoreCase) {
        @return lower($str)==lower($compare);
    }
    @else {
        @return $str ==$compare;
    }
}

@function calcPercentage($nr, $percentage: 24) {
    @return math.ceil($nr - (calc($nr / 100) * $percentage));
}
