$displayPropertyValues: (
    "initial",
    "block",
    "inline",
    "inline-block",
    "flex",
    "inline-flex",
    "grid",
    "inline-grid",
    "table",
    "inline-table",
    "list-item",
    "run-in",
    "none"
);
