div.creator-password-wrap {
    & > input {
        width: 190px;
        margin-right: 14px;
    }

    & > i.icon.eye {
        font-size: 15px;
        font-weight: bold;

        &:hover {
            cursor: pointer;
        }
    }
}
