@use "..//Shared//Functions" as func;
@use "..//Shared//Media" as media;
@use "..//Shared//Common" as common;
@use "../Layout/ResponsiveMixins" as mixR;

.#{func.translate(BurgerWrap)} {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 420;

    & > .#{func.translate(BurgerIcon)} {
        @include common.showDisplayProperties();

        @each $name, $size in (Small: 27px, Medium: 39px, Large: 57px) {
            &.icon-#{func.translate($name)} {
                width: $size;
                height: $size;
                position: absolute;
                right: 20px;
                top: 20px;
                left: unset;
                bottom: unset;
                z-index: 421;
            }
        }

        &:hover {
            cursor: pointer;
            @include common.hoverScale();
        }
    }

    & > .#{func.translate(BurgerMenu)} {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        padding: 9px;
        border-right: 3px solid #0e0e0e;
        @include common.showDisplayProperties();
        z-index: 422;

        & > .#{func.translate(BurgerCloseIcon)} {
            position: absolute;
            top: 18px;
            right: 18px;
            display: block;
            border: 1px solid #a2bed8;
            padding: 4px;
            content: "X";
            font-family: Impact, 'Arial Narrow Bold', sans-serif;
            font-size: 2rem;
            font-weight: bold;
            color: #851111;
            transform: rotate(90deg);
            z-index: 423;

            &:hover {
                cursor: pointer;
                @include common.hoverScale();
            }
        }

        & > nav.main {
            padding: 22px;
            line-height: 1.7;
        }
    }

    .#{func.translate(BurgerMenu)}-bg {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        @include common.showDisplayProperties();
        background-color: rgba(#232629, 0.7);
        z-index: 422;
    }
}

@include media.media() {
    .#{func.translate(BurgerWrap)} {
        .#{func.translate(BurgerIcon)} {
            @include common.showDisplayProperties(false);
        }

        & > .#{func.translate(BurgerMenu)} {
            @include common.showDisplayProperties(false);
        }

        .#{func.translate(BurgerMenu)}-bg {
            @include common.showDisplayProperties(false);
        }
    }
}
