.ul-container {
    &-center {
        text-align: center;

        & ul {
            display: inline-block;
            text-align: left;
        }
    }

    &-right {
        text-align: right;

        & ul {
            display: inline-block;
            text-align: left;
        }
    }
}
