.burger-icon-wrap {
  padding: 19px;
  display: flex;
  justify-content: flex-end;
}
.burger-icon-wrap.burger-icon {
  transition: all 0.3s ease-in-out;
}
.burger-icon-wrap.burger-icon:hover {
  cursor: pointer;
  opacity: 0.8;
  transform: scaleX(1.1);
}

.burger-icon-wrap-left {
  padding: 19px;
  display: flex;
  justify-content: flex-start;
}
.burger-icon-wrap-left.burger-icon {
  transition: all 0.3s ease-in-out;
}
.burger-icon-wrap-left.burger-icon:hover {
  cursor: pointer;
  opacity: 0.8;
  transform: scaleX(1.1);
}

.burger-menu-wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  display: none;
  visibility: hidden;
  z-index: 1000;
}
.burger-menu-wrap > .inner-menu {
  top: 0;
  left: 0;
  bottom: 0;
  width: 78%;
  background-color: #ffc1a4;
  line-height: 1.7;
}
.burger-menu-wrap > .inner-menu > a {
  color: #011d2c;
  transition: all 0.3s ease-in-out;
  font-size: 1.3rem;
}
.burger-menu-wrap > .inner-menu > a:hover {
  transform: scaleX(1.1);
  color: #023d5b;
}button.btn-funk,
input[type=button].btn-funk,
input[type=submit].btn-funk,
input[type=reset].btn-funk {
  background-color: #61b2f7;
  color: #165992;
  border: 1px solid #165992;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0.5rem 0.5rem;
  transition: all 0.3s ease;
}
button.btn-funk:hover,
input[type=button].btn-funk:hover,
input[type=submit].btn-funk:hover,
input[type=reset].btn-funk:hover {
  background-color: #1e92f4;
  border: 2px solid #165992;
  color: #9fcef6;
  font-weight: bold;
}

button.btn-notify,
input[type=button].btn-notify,
input[type=submit].btn-notify,
input[type=reset].btn-notify {
  background-color: #7b9abd;
  color: #07294e;
  border: 1px solid #07294e;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0.5rem 0.5rem;
  transition: all 0.3s ease;
}
button.btn-notify:hover,
input[type=button].btn-notify:hover,
input[type=submit].btn-notify:hover,
input[type=reset].btn-notify:hover {
  background-color: #466a92;
  border: 2px solid #07294e;
  color: #c1cfde;
  font-weight: bold;
}

button.btn-antan,
input[type=button].btn-antan,
input[type=submit].btn-antan,
input[type=reset].btn-antan {
  background-color: #a76e62;
  color: #fe2f00;
  border: 1px solid #fe2f00;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0.5rem 0.5rem;
  transition: all 0.3s ease;
}
button.btn-antan:hover,
input[type=button].btn-antan:hover,
input[type=submit].btn-antan:hover,
input[type=reset].btn-antan:hover {
  background-color: #c66b57;
  border: 2px solid #fe2f00;
  color: #e8bdb4;
  font-weight: bold;
}

button.btn-warning,
input[type=button].btn-warning,
input[type=submit].btn-warning,
input[type=reset].btn-warning {
  background-color: #ffe9a6;
  color: #ffbf00;
  border: 1px solid #ffbf00;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0.5rem 0.5rem;
  transition: all 0.3s ease;
}
button.btn-warning:hover,
input[type=button].btn-warning:hover,
input[type=submit].btn-warning:hover,
input[type=reset].btn-warning:hover {
  background-color: #ffde7b;
  border: 2px solid #ffbf00;
  color: #fff2cb;
  font-weight: bold;
}

button.btn-danger,
input[type=button].btn-danger,
input[type=submit].btn-danger,
input[type=reset].btn-danger {
  background-color: #ed7781;
  color: #8c101b;
  border: 1px solid #8c101b;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0.5rem 0.5rem;
  transition: all 0.3s ease;
}
button.btn-danger:hover,
input[type=button].btn-danger:hover,
input[type=submit].btn-danger:hover,
input[type=reset].btn-danger:hover {
  background-color: #ca5660;
  border: 2px solid #8c101b;
  color: #ffcacf;
  font-weight: bold;
}

button.btn-success,
input[type=button].btn-success,
input[type=submit].btn-success,
input[type=reset].btn-success {
  background-color: #4bcc7c;
  color: #195f34;
  border: 1px solid #195f34;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0.5rem 0.5rem;
  transition: all 0.3s ease;
}
button.btn-success:hover,
input[type=button].btn-success:hover,
input[type=submit].btn-success:hover,
input[type=reset].btn-success:hover {
  background-color: #2eac5e;
  border: 2px solid #195f34;
  color: #a0edbd;
  font-weight: bold;
}

button.btn-info,
input[type=button].btn-info,
input[type=submit].btn-info,
input[type=reset].btn-info {
  background-color: #8bc8d4;
  color: #2894aa;
  border: 1px solid #2894aa;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0.5rem 0.5rem;
  transition: all 0.3s ease;
}
button.btn-info:hover,
input[type=button].btn-info:hover,
input[type=submit].btn-info:hover,
input[type=reset].btn-info:hover {
  background-color: #68b7c7;
  border: 2px solid #2894aa;
  color: #c4e7ee;
  font-weight: bold;
}.funk {
  color: #165992;
}
.funk-light {
  color: #1e92f4;
}

.notify {
  color: #07294e;
}
.notify-light {
  color: #466a92;
}

.antan {
  color: #fe2f00;
}
.antan-light {
  color: #c66b57;
}

.warning {
  color: #ffbf00;
}
.warning-light {
  color: #ffde7b;
}

.danger {
  color: #8c101b;
}
.danger-light {
  color: #ca5660;
}

.success {
  color: #195f34;
}
.success-light {
  color: #2eac5e;
}

.info {
  color: #2894aa;
}
.info-light {
  color: #68b7c7;
}html.creator-mini {
  box-sizing: border-box;
  font-size: 16px;
}
html.creator-mini > body {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html.creator-mini > body > .main-content {
  position: relative;
  min-height: 100vh;
  width: 100%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding: 12px;
}
html.creator-mini > body > .main-content > .content-wrap {
  padding-bottom: 2.5rem;
}
html.creator-mini > body > .main-content > footer {
  position: absolute;
  bottom: -2.5rem;
  font-size: 0.7rem;
  line-height: 1.2;
  width: 100%;
  height: 2.5rem;
}
html.creator-mini > body > .main-content > footer.center {
  text-align: center;
}
html.creator-mini > body > .main-content > footer > span.separator {
  font-size: 0.8rem;
  margin-left: 8px;
  margin-right: 8px;
}
html.creator-mini > body > .main-content > footer > div.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

html.creator-mini-big {
  box-sizing: border-box;
  font-size: 16px;
}
html.creator-mini-big > body {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html.creator-mini-big > body > .main-content {
  position: relative;
  min-height: 100vh;
  width: 100%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding: 12px;
}
html.creator-mini-big > body > .main-content > .content-wrap {
  padding-bottom: 3rem;
}
html.creator-mini-big > body > .main-content > footer {
  position: absolute;
  bottom: -3rem;
  font-size: 0.7rem;
  line-height: 1.2;
  width: 100%;
  height: 3rem;
}
html.creator-mini-big > body > .main-content > footer.center {
  text-align: center;
}
html.creator-mini-big > body > .main-content > footer > span.separator {
  font-size: 0.8rem;
  margin-left: 8px;
  margin-right: 8px;
}
html.creator-mini-big > body > .main-content > footer > div.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

html.creator-mini-xl {
  box-sizing: border-box;
  font-size: 16px;
}
html.creator-mini-xl > body {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html.creator-mini-xl > body > .main-content {
  position: relative;
  min-height: 100vh;
  width: 100%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding: 12px;
}
html.creator-mini-xl > body > .main-content > .content-wrap {
  padding-bottom: 4.2rem;
}
html.creator-mini-xl > body > .main-content > footer {
  position: absolute;
  bottom: -4.2rem;
  font-size: 0.7rem;
  line-height: 1.2;
  width: 100%;
  height: 4.2rem;
}
html.creator-mini-xl > body > .main-content > footer.center {
  text-align: center;
}
html.creator-mini-xl > body > .main-content > footer > span.separator {
  font-size: 0.8rem;
  margin-left: 8px;
  margin-right: 8px;
}
html.creator-mini-xl > body > .main-content > footer > div.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

html.creator-mini-xxl {
  box-sizing: border-box;
  font-size: 16px;
}
html.creator-mini-xxl > body {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html.creator-mini-xxl > body > .main-content {
  position: relative;
  min-height: 100vh;
  width: 100%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding: 12px;
}
html.creator-mini-xxl > body > .main-content > .content-wrap {
  padding-bottom: 6rem;
}
html.creator-mini-xxl > body > .main-content > footer {
  position: absolute;
  bottom: -6rem;
  font-size: 0.7rem;
  line-height: 1.2;
  width: 100%;
  height: 6rem;
}
html.creator-mini-xxl > body > .main-content > footer.center {
  text-align: center;
}
html.creator-mini-xxl > body > .main-content > footer > span.separator {
  font-size: 0.8rem;
  margin-left: 8px;
  margin-right: 8px;
}
html.creator-mini-xxl > body > .main-content > footer > div.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

html.creator-mediun {
  box-sizing: border-box;
  font-size: 16px;
}
html.creator-mediun > body {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html.creator-mediun > body > .main-content {
  position: relative;
  min-height: 100vh;
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 12px;
}
html.creator-mediun > body > .main-content > .content-wrap {
  padding-bottom: 2.5rem;
}
html.creator-mediun > body > .main-content > footer {
  position: absolute;
  bottom: -2.5rem;
  font-size: 0.7rem;
  line-height: 1.2;
  width: 100%;
  height: 2.5rem;
}
html.creator-mediun > body > .main-content > footer.center {
  text-align: center;
}
html.creator-mediun > body > .main-content > footer > span.separator {
  font-size: 0.8rem;
  margin-left: 8px;
  margin-right: 8px;
}
html.creator-mediun > body > .main-content > footer > div.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

html.creator-mediun-big {
  box-sizing: border-box;
  font-size: 16px;
}
html.creator-mediun-big > body {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html.creator-mediun-big > body > .main-content {
  position: relative;
  min-height: 100vh;
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 12px;
}
html.creator-mediun-big > body > .main-content > .content-wrap {
  padding-bottom: 3rem;
}
html.creator-mediun-big > body > .main-content > footer {
  position: absolute;
  bottom: -3rem;
  font-size: 0.7rem;
  line-height: 1.2;
  width: 100%;
  height: 3rem;
}
html.creator-mediun-big > body > .main-content > footer.center {
  text-align: center;
}
html.creator-mediun-big > body > .main-content > footer > span.separator {
  font-size: 0.8rem;
  margin-left: 8px;
  margin-right: 8px;
}
html.creator-mediun-big > body > .main-content > footer > div.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

html.creator-mediun-xl {
  box-sizing: border-box;
  font-size: 16px;
}
html.creator-mediun-xl > body {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html.creator-mediun-xl > body > .main-content {
  position: relative;
  min-height: 100vh;
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 12px;
}
html.creator-mediun-xl > body > .main-content > .content-wrap {
  padding-bottom: 4.2rem;
}
html.creator-mediun-xl > body > .main-content > footer {
  position: absolute;
  bottom: -4.2rem;
  font-size: 0.7rem;
  line-height: 1.2;
  width: 100%;
  height: 4.2rem;
}
html.creator-mediun-xl > body > .main-content > footer.center {
  text-align: center;
}
html.creator-mediun-xl > body > .main-content > footer > span.separator {
  font-size: 0.8rem;
  margin-left: 8px;
  margin-right: 8px;
}
html.creator-mediun-xl > body > .main-content > footer > div.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

html.creator-mediun-xxl {
  box-sizing: border-box;
  font-size: 16px;
}
html.creator-mediun-xxl > body {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html.creator-mediun-xxl > body > .main-content {
  position: relative;
  min-height: 100vh;
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 12px;
}
html.creator-mediun-xxl > body > .main-content > .content-wrap {
  padding-bottom: 6rem;
}
html.creator-mediun-xxl > body > .main-content > footer {
  position: absolute;
  bottom: -6rem;
  font-size: 0.7rem;
  line-height: 1.2;
  width: 100%;
  height: 6rem;
}
html.creator-mediun-xxl > body > .main-content > footer.center {
  text-align: center;
}
html.creator-mediun-xxl > body > .main-content > footer > span.separator {
  font-size: 0.8rem;
  margin-left: 8px;
  margin-right: 8px;
}
html.creator-mediun-xxl > body > .main-content > footer > div.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

html.creator-large {
  box-sizing: border-box;
  font-size: 16px;
}
html.creator-large > body {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html.creator-large > body > .main-content {
  position: relative;
  min-height: 100vh;
  width: 100%;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  padding: 12px;
}
html.creator-large > body > .main-content > .content-wrap {
  padding-bottom: 2.5rem;
}
html.creator-large > body > .main-content > footer {
  position: absolute;
  bottom: -2.5rem;
  font-size: 0.7rem;
  line-height: 1.2;
  width: 100%;
  height: 2.5rem;
}
html.creator-large > body > .main-content > footer.center {
  text-align: center;
}
html.creator-large > body > .main-content > footer > span.separator {
  font-size: 0.8rem;
  margin-left: 8px;
  margin-right: 8px;
}
html.creator-large > body > .main-content > footer > div.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

html.creator-large-big {
  box-sizing: border-box;
  font-size: 16px;
}
html.creator-large-big > body {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html.creator-large-big > body > .main-content {
  position: relative;
  min-height: 100vh;
  width: 100%;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  padding: 12px;
}
html.creator-large-big > body > .main-content > .content-wrap {
  padding-bottom: 3rem;
}
html.creator-large-big > body > .main-content > footer {
  position: absolute;
  bottom: -3rem;
  font-size: 0.7rem;
  line-height: 1.2;
  width: 100%;
  height: 3rem;
}
html.creator-large-big > body > .main-content > footer.center {
  text-align: center;
}
html.creator-large-big > body > .main-content > footer > span.separator {
  font-size: 0.8rem;
  margin-left: 8px;
  margin-right: 8px;
}
html.creator-large-big > body > .main-content > footer > div.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

html.creator-large-xl {
  box-sizing: border-box;
  font-size: 16px;
}
html.creator-large-xl > body {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html.creator-large-xl > body > .main-content {
  position: relative;
  min-height: 100vh;
  width: 100%;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  padding: 12px;
}
html.creator-large-xl > body > .main-content > .content-wrap {
  padding-bottom: 4.2rem;
}
html.creator-large-xl > body > .main-content > footer {
  position: absolute;
  bottom: -4.2rem;
  font-size: 0.7rem;
  line-height: 1.2;
  width: 100%;
  height: 4.2rem;
}
html.creator-large-xl > body > .main-content > footer.center {
  text-align: center;
}
html.creator-large-xl > body > .main-content > footer > span.separator {
  font-size: 0.8rem;
  margin-left: 8px;
  margin-right: 8px;
}
html.creator-large-xl > body > .main-content > footer > div.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

html.creator-large-xxl {
  box-sizing: border-box;
  font-size: 16px;
}
html.creator-large-xxl > body {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html.creator-large-xxl > body > .main-content {
  position: relative;
  min-height: 100vh;
  width: 100%;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  padding: 12px;
}
html.creator-large-xxl > body > .main-content > .content-wrap {
  padding-bottom: 6rem;
}
html.creator-large-xxl > body > .main-content > footer {
  position: absolute;
  bottom: -6rem;
  font-size: 0.7rem;
  line-height: 1.2;
  width: 100%;
  height: 6rem;
}
html.creator-large-xxl > body > .main-content > footer.center {
  text-align: center;
}
html.creator-large-xxl > body > .main-content > footer > span.separator {
  font-size: 0.8rem;
  margin-left: 8px;
  margin-right: 8px;
}
html.creator-large-xxl > body > .main-content > footer > div.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

html.creator {
  box-sizing: border-box;
  font-size: 16px;
}
html.creator > body {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html.creator > body > .main-content {
  position: relative;
  min-height: 100vh;
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 12px;
}
html.creator > body > .main-content > .content-wrap {
  padding-bottom: 2.5rem;
}
html.creator > body > .main-content > footer {
  position: absolute;
  bottom: -2.5rem;
  font-size: 0.7rem;
  line-height: 1.2;
  width: 100%;
  height: 2.5rem;
}
html.creator > body > .main-content > footer.center {
  text-align: center;
}
html.creator > body > .main-content > footer > span.separator {
  font-size: 0.8rem;
  margin-left: 8px;
  margin-right: 8px;
}
html.creator > body > .main-content > footer > div.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

html.creator-big {
  box-sizing: border-box;
  font-size: 16px;
}
html.creator-big > body {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html.creator-big > body > .main-content {
  position: relative;
  min-height: 100vh;
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 12px;
}
html.creator-big > body > .main-content > .content-wrap {
  padding-bottom: 3rem;
}
html.creator-big > body > .main-content > footer {
  position: absolute;
  bottom: -3rem;
  font-size: 0.7rem;
  line-height: 1.2;
  width: 100%;
  height: 3rem;
}
html.creator-big > body > .main-content > footer.center {
  text-align: center;
}
html.creator-big > body > .main-content > footer > span.separator {
  font-size: 0.8rem;
  margin-left: 8px;
  margin-right: 8px;
}
html.creator-big > body > .main-content > footer > div.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

html.creator-xl {
  box-sizing: border-box;
  font-size: 16px;
}
html.creator-xl > body {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html.creator-xl > body > .main-content {
  position: relative;
  min-height: 100vh;
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 12px;
}
html.creator-xl > body > .main-content > .content-wrap {
  padding-bottom: 4.2rem;
}
html.creator-xl > body > .main-content > footer {
  position: absolute;
  bottom: -4.2rem;
  font-size: 0.7rem;
  line-height: 1.2;
  width: 100%;
  height: 4.2rem;
}
html.creator-xl > body > .main-content > footer.center {
  text-align: center;
}
html.creator-xl > body > .main-content > footer > span.separator {
  font-size: 0.8rem;
  margin-left: 8px;
  margin-right: 8px;
}
html.creator-xl > body > .main-content > footer > div.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

html.creator-xxl {
  box-sizing: border-box;
  font-size: 16px;
}
html.creator-xxl > body {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html.creator-xxl > body > .main-content {
  position: relative;
  min-height: 100vh;
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 12px;
}
html.creator-xxl > body > .main-content > .content-wrap {
  padding-bottom: 6rem;
}
html.creator-xxl > body > .main-content > footer {
  position: absolute;
  bottom: -6rem;
  font-size: 0.7rem;
  line-height: 1.2;
  width: 100%;
  height: 6rem;
}
html.creator-xxl > body > .main-content > footer.center {
  text-align: center;
}
html.creator-xxl > body > .main-content > footer > span.separator {
  font-size: 0.8rem;
  margin-left: 8px;
  margin-right: 8px;
}
html.creator-xxl > body > .main-content > footer > div.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-image: url("/IMAGE/main-bg.min.jpg");
}

.bg-contain {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-image: url("/IMAGE/main-bg.min.jpg");
}

.bg-cover-png {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-image: url("/IMAGE/main-bg.min.png");
}

.bg-contain-png {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-image: url("/IMAGE/main-bg.min.png");
}

@media (min-width: 768px) {
  .bg-cover,
  .bg-contain {
    background-image: url("/IMAGE/main-bg.jpg");
  }
  .bg-cover-png,
  .bg-contain-png {
    background-image: url("/IMAGE/main-bg.png");
  }
}.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-center-base {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.flex-center-base-wrap {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
}

.flex-center-base-nowrap {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: nowrap;
}

.flex-center-base-wrap-reverse {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap-reverse;
}

.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-center-center-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.flex-center-center-nowrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.flex-center-center-wrap-reverse {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.flex-center-end {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.flex-center-end-wrap {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
}

.flex-center-end-nowrap {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: nowrap;
}

.flex-center-end-wrap-reverse {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap-reverse;
}

.flex-center-start {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.flex-center-start-wrap {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.flex-center-start-nowrap {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.flex-center-start-wrap-reverse {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap-reverse;
}

.flex-center-stretch {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.flex-center-stretch-wrap {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}

.flex-center-stretch-nowrap {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
}

.flex-center-stretch-wrap-reverse {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap-reverse;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.flex-end-base {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.flex-end-base-wrap {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  flex-wrap: wrap;
}

.flex-end-base-nowrap {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  flex-wrap: nowrap;
}

.flex-end-base-wrap-reverse {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  flex-wrap: wrap-reverse;
}

.flex-end-center {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flex-end-center-wrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}

.flex-end-center-nowrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
}

.flex-end-center-wrap-reverse {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.flex-end-end {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.flex-end-end-wrap {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-wrap: wrap;
}

.flex-end-end-nowrap {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-wrap: nowrap;
}

.flex-end-end-wrap-reverse {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-wrap: wrap-reverse;
}

.flex-end-start {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.flex-end-start-wrap {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: wrap;
}

.flex-end-start-nowrap {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.flex-end-start-wrap-reverse {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: wrap-reverse;
}

.flex-end-stretch {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
}

.flex-end-stretch-wrap {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  flex-wrap: wrap;
}

.flex-end-stretch-nowrap {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  flex-wrap: nowrap;
}

.flex-end-stretch-wrap-reverse {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  flex-wrap: wrap-reverse;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
}

.flex-start-base {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.flex-start-base-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: wrap;
}

.flex-start-base-nowrap {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: nowrap;
}

.flex-start-base-wrap-reverse {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: wrap-reverse;
}

.flex-start-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-start-center-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.flex-start-center-nowrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}

.flex-start-center-wrap-reverse {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.flex-start-end {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.flex-start-end-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: wrap;
}

.flex-start-end-nowrap {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: nowrap;
}

.flex-start-end-wrap-reverse {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: wrap-reverse;
}

.flex-start-start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-start-start-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.flex-start-start-nowrap {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.flex-start-start-wrap-reverse {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap-reverse;
}

.flex-start-stretch {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

.flex-start-stretch-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
}

.flex-start-stretch-nowrap {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
}

.flex-start-stretch-wrap-reverse {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap-reverse;
}

.flex-stretch {
  display: flex;
  justify-content: stretch;
}

.flex-stretch-base {
  display: flex;
  justify-content: stretch;
  align-items: baseline;
}

.flex-stretch-base-wrap {
  display: flex;
  justify-content: stretch;
  align-items: baseline;
  flex-wrap: wrap;
}

.flex-stretch-base-nowrap {
  display: flex;
  justify-content: stretch;
  align-items: baseline;
  flex-wrap: nowrap;
}

.flex-stretch-base-wrap-reverse {
  display: flex;
  justify-content: stretch;
  align-items: baseline;
  flex-wrap: wrap-reverse;
}

.flex-stretch-center {
  display: flex;
  justify-content: stretch;
  align-items: center;
}

.flex-stretch-center-wrap {
  display: flex;
  justify-content: stretch;
  align-items: center;
  flex-wrap: wrap;
}

.flex-stretch-center-nowrap {
  display: flex;
  justify-content: stretch;
  align-items: center;
  flex-wrap: nowrap;
}

.flex-stretch-center-wrap-reverse {
  display: flex;
  justify-content: stretch;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.flex-stretch-end {
  display: flex;
  justify-content: stretch;
  align-items: flex-end;
}

.flex-stretch-end-wrap {
  display: flex;
  justify-content: stretch;
  align-items: flex-end;
  flex-wrap: wrap;
}

.flex-stretch-end-nowrap {
  display: flex;
  justify-content: stretch;
  align-items: flex-end;
  flex-wrap: nowrap;
}

.flex-stretch-end-wrap-reverse {
  display: flex;
  justify-content: stretch;
  align-items: flex-end;
  flex-wrap: wrap-reverse;
}

.flex-stretch-start {
  display: flex;
  justify-content: stretch;
  align-items: flex-start;
}

.flex-stretch-start-wrap {
  display: flex;
  justify-content: stretch;
  align-items: flex-start;
  flex-wrap: wrap;
}

.flex-stretch-start-nowrap {
  display: flex;
  justify-content: stretch;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.flex-stretch-start-wrap-reverse {
  display: flex;
  justify-content: stretch;
  align-items: flex-start;
  flex-wrap: wrap-reverse;
}

.flex-stretch-stretch {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}

.flex-stretch-stretch-wrap {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  flex-wrap: wrap;
}

.flex-stretch-stretch-nowrap {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  flex-wrap: nowrap;
}

.flex-stretch-stretch-wrap-reverse {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  flex-wrap: wrap-reverse;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-between-base {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.flex-between-base-wrap {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
}

.flex-between-base-nowrap {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: nowrap;
}

.flex-between-base-wrap-reverse {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap-reverse;
}

.flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-between-center-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.flex-between-center-nowrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.flex-between-center-wrap-reverse {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.flex-between-end {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.flex-between-end-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}

.flex-between-end-nowrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: nowrap;
}

.flex-between-end-wrap-reverse {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap-reverse;
}

.flex-between-start {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.flex-between-start-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.flex-between-start-nowrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.flex-between-start-wrap-reverse {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap-reverse;
}

.flex-between-stretch {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.flex-between-stretch-wrap {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}

.flex-between-stretch-nowrap {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
}

.flex-between-stretch-wrap-reverse {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap-reverse;
}

.flex-evenly {
  display: flex;
  justify-content: space-evenly;
}

.flex-evenly-base {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}

.flex-evenly-base-wrap {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  flex-wrap: wrap;
}

.flex-evenly-base-nowrap {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  flex-wrap: nowrap;
}

.flex-evenly-base-wrap-reverse {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  flex-wrap: wrap-reverse;
}

.flex-evenly-center {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.flex-evenly-center-wrap {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.flex-evenly-center-nowrap {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
}

.flex-evenly-center-wrap-reverse {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.flex-evenly-end {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

.flex-evenly-end-wrap {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  flex-wrap: wrap;
}

.flex-evenly-end-nowrap {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  flex-wrap: nowrap;
}

.flex-evenly-end-wrap-reverse {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  flex-wrap: wrap-reverse;
}

.flex-evenly-start {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.flex-evenly-start-wrap {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
}

.flex-evenly-start-nowrap {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.flex-evenly-start-wrap-reverse {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap-reverse;
}

.flex-evenly-stretch {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
}

.flex-evenly-stretch-wrap {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  flex-wrap: wrap;
}

.flex-evenly-stretch-nowrap {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  flex-wrap: nowrap;
}

.flex-evenly-stretch-wrap-reverse {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  flex-wrap: wrap-reverse;
}h1 {
  font-size: 1.5rem;
  line-height: 2;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

h1-pad {
  font-size: 1.5rem;
  line-height: 2;
  font-weight: bold;
  padding: 0;
  padding-left: 29px;
  margin: 0;
}

h1-mrg {
  font-size: 1.5rem;
  line-height: 2;
  font-weight: bold;
  padding: 0;
  margin: 27px;
}

h1-pad-mrg {
  font-size: 1.5rem;
  line-height: 2;
  font-weight: bold;
  padding: 0;
  padding-left: 29px;
  margin: 27px;
}

h1-r {
  line-height: 2;
  font-weight: bold;
  padding: 0;
  margin: 0;
  font-size: 1rem !important;
}
@media (min-width: 768px) {
  h1-r {
    font-size: 1.5rem;
  }
}

h1-pad-r {
  line-height: 2;
  font-weight: bold;
  padding: 0;
  padding-left: 29px;
  margin: 0;
  font-size: 1rem !important;
}
@media (min-width: 768px) {
  h1-pad-r {
    font-size: 1.5rem;
  }
}

h1-mrg-r {
  line-height: 2;
  font-weight: bold;
  padding: 0;
  margin: 27px;
  font-size: 1rem !important;
}
@media (min-width: 768px) {
  h1-mrg-r {
    font-size: 1.5rem;
  }
}

h1-pad-mrg-r {
  line-height: 2;
  font-weight: bold;
  padding: 0;
  padding-left: 29px;
  margin: 27px;
  font-size: 1rem !important;
}
@media (min-width: 768px) {
  h1-pad-mrg-r {
    font-size: 1.5rem;
  }
}

h2 {
  font-size: 1.25rem;
  line-height: 2;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

h2-pad {
  font-size: 1.25rem;
  line-height: 2;
  font-weight: bold;
  padding: 0;
  padding-left: 29px;
  margin: 0;
}

h2-mrg {
  font-size: 1.25rem;
  line-height: 2;
  font-weight: bold;
  padding: 0;
  margin: 27px;
}

h2-pad-mrg {
  font-size: 1.25rem;
  line-height: 2;
  font-weight: bold;
  padding: 0;
  padding-left: 29px;
  margin: 27px;
}

h2-r {
  line-height: 2;
  font-weight: bold;
  padding: 0;
  margin: 0;
  font-size: 0.75rem !important;
}
@media (min-width: 768px) {
  h2-r {
    font-size: 1.25rem;
  }
}

h2-pad-r {
  line-height: 2;
  font-weight: bold;
  padding: 0;
  padding-left: 29px;
  margin: 0;
  font-size: 0.75rem !important;
}
@media (min-width: 768px) {
  h2-pad-r {
    font-size: 1.25rem;
  }
}

h2-mrg-r {
  line-height: 2;
  font-weight: bold;
  padding: 0;
  margin: 27px;
  font-size: 0.75rem !important;
}
@media (min-width: 768px) {
  h2-mrg-r {
    font-size: 1.25rem;
  }
}

h2-pad-mrg-r {
  line-height: 2;
  font-weight: bold;
  padding: 0;
  padding-left: 29px;
  margin: 27px;
  font-size: 0.75rem !important;
}
@media (min-width: 768px) {
  h2-pad-mrg-r {
    font-size: 1.25rem;
  }
}

h3 {
  font-size: 1.125rem;
  line-height: 2;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

h3-pad {
  font-size: 1.125rem;
  line-height: 2;
  font-weight: bold;
  padding: 0;
  padding-left: 29px;
  margin: 0;
}

h3-mrg {
  font-size: 1.125rem;
  line-height: 2;
  font-weight: bold;
  padding: 0;
  margin: 27px;
}

h3-pad-mrg {
  font-size: 1.125rem;
  line-height: 2;
  font-weight: bold;
  padding: 0;
  padding-left: 29px;
  margin: 27px;
}

h3-r {
  line-height: 2;
  font-weight: bold;
  padding: 0;
  margin: 0;
  font-size: 0.625rem !important;
}
@media (min-width: 768px) {
  h3-r {
    font-size: 1.125rem;
  }
}

h3-pad-r {
  line-height: 2;
  font-weight: bold;
  padding: 0;
  padding-left: 29px;
  margin: 0;
  font-size: 0.625rem !important;
}
@media (min-width: 768px) {
  h3-pad-r {
    font-size: 1.125rem;
  }
}

h3-mrg-r {
  line-height: 2;
  font-weight: bold;
  padding: 0;
  margin: 27px;
  font-size: 0.625rem !important;
}
@media (min-width: 768px) {
  h3-mrg-r {
    font-size: 1.125rem;
  }
}

h3-pad-mrg-r {
  line-height: 2;
  font-weight: bold;
  padding: 0;
  padding-left: 29px;
  margin: 27px;
  font-size: 0.625rem !important;
}
@media (min-width: 768px) {
  h3-pad-mrg-r {
    font-size: 1.125rem;
  }
}

h4 {
  font-size: 1rem;
  line-height: 2;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

h4-pad {
  font-size: 1rem;
  line-height: 2;
  font-weight: bold;
  padding: 0;
  padding-left: 29px;
  margin: 0;
}

h4-mrg {
  font-size: 1rem;
  line-height: 2;
  font-weight: bold;
  padding: 0;
  margin: 27px;
}

h4-pad-mrg {
  font-size: 1rem;
  line-height: 2;
  font-weight: bold;
  padding: 0;
  padding-left: 29px;
  margin: 27px;
}

h4-r {
  line-height: 2;
  font-weight: bold;
  padding: 0;
  margin: 0;
  font-size: 0.5rem !important;
}
@media (min-width: 768px) {
  h4-r {
    font-size: 1rem;
  }
}

h4-pad-r {
  line-height: 2;
  font-weight: bold;
  padding: 0;
  padding-left: 29px;
  margin: 0;
  font-size: 0.5rem !important;
}
@media (min-width: 768px) {
  h4-pad-r {
    font-size: 1rem;
  }
}

h4-mrg-r {
  line-height: 2;
  font-weight: bold;
  padding: 0;
  margin: 27px;
  font-size: 0.5rem !important;
}
@media (min-width: 768px) {
  h4-mrg-r {
    font-size: 1rem;
  }
}

h4-pad-mrg-r {
  line-height: 2;
  font-weight: bold;
  padding: 0;
  padding-left: 29px;
  margin: 27px;
  font-size: 0.5rem !important;
}
@media (min-width: 768px) {
  h4-pad-mrg-r {
    font-size: 1rem;
  }
}

h5 {
  font-size: 0.875rem;
  line-height: 2;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

h5-pad {
  font-size: 0.875rem;
  line-height: 2;
  font-weight: bold;
  padding: 0;
  padding-left: 29px;
  margin: 0;
}

h5-mrg {
  font-size: 0.875rem;
  line-height: 2;
  font-weight: bold;
  padding: 0;
  margin: 27px;
}

h5-pad-mrg {
  font-size: 0.875rem;
  line-height: 2;
  font-weight: bold;
  padding: 0;
  padding-left: 29px;
  margin: 27px;
}

h5-r {
  line-height: 2;
  font-weight: bold;
  padding: 0;
  margin: 0;
  font-size: 0.375rem !important;
}
@media (min-width: 768px) {
  h5-r {
    font-size: 0.875rem;
  }
}

h5-pad-r {
  line-height: 2;
  font-weight: bold;
  padding: 0;
  padding-left: 29px;
  margin: 0;
  font-size: 0.375rem !important;
}
@media (min-width: 768px) {
  h5-pad-r {
    font-size: 0.875rem;
  }
}

h5-mrg-r {
  line-height: 2;
  font-weight: bold;
  padding: 0;
  margin: 27px;
  font-size: 0.375rem !important;
}
@media (min-width: 768px) {
  h5-mrg-r {
    font-size: 0.875rem;
  }
}

h5-pad-mrg-r {
  line-height: 2;
  font-weight: bold;
  padding: 0;
  padding-left: 29px;
  margin: 27px;
  font-size: 0.375rem !important;
}
@media (min-width: 768px) {
  h5-pad-mrg-r {
    font-size: 0.875rem;
  }
}

h6 {
  font-size: 0.75rem;
  line-height: 2;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

h6-pad {
  font-size: 0.75rem;
  line-height: 2;
  font-weight: bold;
  padding: 0;
  padding-left: 29px;
  margin: 0;
}

h6-mrg {
  font-size: 0.75rem;
  line-height: 2;
  font-weight: bold;
  padding: 0;
  margin: 27px;
}

h6-pad-mrg {
  font-size: 0.75rem;
  line-height: 2;
  font-weight: bold;
  padding: 0;
  padding-left: 29px;
  margin: 27px;
}

h6-r {
  line-height: 2;
  font-weight: bold;
  padding: 0;
  margin: 0;
  font-size: 0.25rem !important;
}
@media (min-width: 768px) {
  h6-r {
    font-size: 0.75rem;
  }
}

h6-pad-r {
  line-height: 2;
  font-weight: bold;
  padding: 0;
  padding-left: 29px;
  margin: 0;
  font-size: 0.25rem !important;
}
@media (min-width: 768px) {
  h6-pad-r {
    font-size: 0.75rem;
  }
}

h6-mrg-r {
  line-height: 2;
  font-weight: bold;
  padding: 0;
  margin: 27px;
  font-size: 0.25rem !important;
}
@media (min-width: 768px) {
  h6-mrg-r {
    font-size: 0.75rem;
  }
}

h6-pad-mrg-r {
  line-height: 2;
  font-weight: bold;
  padding: 0;
  padding-left: 29px;
  margin: 27px;
  font-size: 0.25rem !important;
}
@media (min-width: 768px) {
  h6-pad-mrg-r {
    font-size: 0.75rem;
  }
}.mrg-sm {
  margin: 4px;
}
.mrg-sm-top {
  margin-top: 4px;
}
.mrg-sm-right {
  margin-right: 4px;
}
.mrg-sm-bottom {
  margin-bottom: 4px;
}
.mrg-sm-left {
  margin-left: 4px;
}

.mrg-md {
  margin: 4px;
}
.mrg-md-top {
  margin-top: 4px;
}
.mrg-md-right {
  margin-right: 4px;
}
.mrg-md-bottom {
  margin-bottom: 4px;
}
.mrg-md-left {
  margin-left: 4px;
}

.mrg-lg {
  margin: 4px;
}
.mrg-lg-top {
  margin-top: 4px;
}
.mrg-lg-right {
  margin-right: 4px;
}
.mrg-lg-bottom {
  margin-bottom: 4px;
}
.mrg-lg-left {
  margin-left: 4px;
}

.mrg-xl {
  margin: 4px;
}
.mrg-xl-top {
  margin-top: 4px;
}
.mrg-xl-right {
  margin-right: 4px;
}
.mrg-xl-bottom {
  margin-bottom: 4px;
}
.mrg-xl-left {
  margin-left: 4px;
}

.mrg-xxl {
  margin: 4px;
}
.mrg-xxl-top {
  margin-top: 4px;
}
.mrg-xxl-right {
  margin-right: 4px;
}
.mrg-xxl-bottom {
  margin-bottom: 4px;
}
.mrg-xxl-left {
  margin-left: 4px;
}

.pad-sm {
  padding: 3px;
}
.pad-sm-top {
  padding-top: 3px;
}
.pad-sm-right {
  padding-right: 3px;
}
.pad-sm-bottom {
  padding-bottom: 3px;
}
.pad-sm-left {
  padding-left: 3px;
}

.pad-md {
  padding: 3px;
}
.pad-md-top {
  padding-top: 3px;
}
.pad-md-right {
  padding-right: 3px;
}
.pad-md-bottom {
  padding-bottom: 3px;
}
.pad-md-left {
  padding-left: 3px;
}

.pad-lg {
  padding: 3px;
}
.pad-lg-top {
  padding-top: 3px;
}
.pad-lg-right {
  padding-right: 3px;
}
.pad-lg-bottom {
  padding-bottom: 3px;
}
.pad-lg-left {
  padding-left: 3px;
}

.pad-xl {
  padding: 3px;
}
.pad-xl-top {
  padding-top: 3px;
}
.pad-xl-right {
  padding-right: 3px;
}
.pad-xl-bottom {
  padding-bottom: 3px;
}
.pad-xl-left {
  padding-left: 3px;
}

.pad-xxl {
  padding: 3px;
}
.pad-xxl-top {
  padding-top: 3px;
}
.pad-xxl-right {
  padding-right: 3px;
}
.pad-xxl-bottom {
  padding-bottom: 3px;
}
.pad-xxl-left {
  padding-left: 3px;
}

@media (min-width: 768px) {
  .mrg-sm {
    margin: 8px;
  }
  .mrg-sm-top {
    margin-top: 8px;
  }
  .mrg-sm-right {
    margin-right: 8px;
  }
  .mrg-sm-bottom {
    margin-bottom: 8px;
  }
  .mrg-sm-left {
    margin-left: 8px;
  }
  .mrg-md {
    margin: 16px;
  }
  .mrg-md-top {
    margin-top: 16px;
  }
  .mrg-md-right {
    margin-right: 16px;
  }
  .mrg-md-bottom {
    margin-bottom: 16px;
  }
  .mrg-md-left {
    margin-left: 16px;
  }
  .mrg-lg {
    margin: 24px;
  }
  .mrg-lg-top {
    margin-top: 24px;
  }
  .mrg-lg-right {
    margin-right: 24px;
  }
  .mrg-lg-bottom {
    margin-bottom: 24px;
  }
  .mrg-lg-left {
    margin-left: 24px;
  }
  .mrg-xl {
    margin: 32px;
  }
  .mrg-xl-top {
    margin-top: 32px;
  }
  .mrg-xl-right {
    margin-right: 32px;
  }
  .mrg-xl-bottom {
    margin-bottom: 32px;
  }
  .mrg-xl-left {
    margin-left: 32px;
  }
  .mrg-xxl {
    margin: 40px;
  }
  .mrg-xxl-top {
    margin-top: 40px;
  }
  .mrg-xxl-right {
    margin-right: 40px;
  }
  .mrg-xxl-bottom {
    margin-bottom: 40px;
  }
  .mrg-xxl-left {
    margin-left: 40px;
  }
  .pad-sm {
    padding: 8px;
  }
  .pad-sm-top {
    padding-top: 8px;
  }
  .pad-sm-right {
    padding-right: 8px;
  }
  .pad-sm-bottom {
    padding-bottom: 8px;
  }
  .pad-sm-left {
    padding-left: 8px;
  }
  .pad-md {
    padding: 16px;
  }
  .pad-md-top {
    padding-top: 16px;
  }
  .pad-md-right {
    padding-right: 16px;
  }
  .pad-md-bottom {
    padding-bottom: 16px;
  }
  .pad-md-left {
    padding-left: 16px;
  }
  .pad-lg {
    padding: 24px;
  }
  .pad-lg-top {
    padding-top: 24px;
  }
  .pad-lg-right {
    padding-right: 24px;
  }
  .pad-lg-bottom {
    padding-bottom: 24px;
  }
  .pad-lg-left {
    padding-left: 24px;
  }
  .pad-xl {
    padding: 32px;
  }
  .pad-xl-top {
    padding-top: 32px;
  }
  .pad-xl-right {
    padding-right: 32px;
  }
  .pad-xl-bottom {
    padding-bottom: 32px;
  }
  .pad-xl-left {
    padding-left: 32px;
  }
  .pad-xxl {
    padding: 40px;
  }
  .pad-xxl-top {
    padding-top: 40px;
  }
  .pad-xxl-right {
    padding-right: 40px;
  }
  .pad-xxl-bottom {
    padding-bottom: 40px;
  }
  .pad-xxl-left {
    padding-left: 40px;
  }
}.display-block {
  display: "block";
  visibility: visible;
}

.display-inline {
  display: "inline";
  visibility: visible;
}

.display-inline-block {
  display: "inline-block";
  visibility: visible;
}

.display-flex {
  display: "flex";
  visibility: visible;
}

.display-inline-flex {
  display: "inline-flex";
  visibility: visible;
}

.display-grid {
  display: "grid";
  visibility: visible;
}

.display-inline-grid {
  display: "inline-grid";
  visibility: visible;
}

.display-table {
  display: "table";
  visibility: visible;
}

.display-inline-table {
  display: "inline-table";
  visibility: visible;
}

.display-list-item {
  display: "list-item";
  visibility: visible;
}

.display-run-in {
  display: "run-in";
  visibility: visible;
}

.display-none {
  display: "none";
  visibility: hidden;
}

.hide {
  display: none;
  visibility: hidden;
}

.show {
  display: block;
  visibility: visible;
}

.show-inline {
  display: inline-block;
  visibility: visible;
}.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.table-auto {
  display: table;
  margin-left: auto;
  margin-right: auto;
}