.burger-wrap {
  margin: 19px;
  display: flex;
  justify-content: flex-end;
}
.burger-wrap.burger-icon:hover {
  cursor: pointer;
  opacity: 0.8;
}

.burger-wrap-left {
  margin: 19px;
  display: flex;
  justify-content: flex-start;
}
.burger-wrap-left.burger-icon:hover {
  cursor: pointer;
  opacity: 0.8;
}