.ul-container-center {
  text-align: center;
}
.ul-container-center ul {
  display: inline-block;
  text-align: left;
}
.ul-container-right {
  text-align: right;
}
.ul-container-right ul {
  display: inline-block;
  text-align: left;
}