html.layout-std > body > .main-content {
  width: 100%;
}
html.layout-std > body > .main-content > header {
  width: 100%;
}
html.layout-std > body > .main-content > .content-wrap {
  padding-bottom: 4rem;
}
html.layout-std > body > .main-content footer {
  font-size: 0.7rem;
  text-align: center;
  line-height: 2.7;
  width: 100%;
  height: 4rem;
  margin-top: 27px;
  position: absolute;
  bottom: -4rem;
}
html.layout-std > body > .main-content footer > div.footer-row-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
html.layout-std > body > .main-content footer > div.footer-row-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
html.layout-std > body > .main-content footer > div.footer-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  html.layout-std > body > .main-content {
    width: 1366px;
    margin-left: auto;
    margin-right: auto;
  }
  html.layout-std > body > .main-content > header {
    width: 1366px;
    margin-left: auto;
    margin-right: auto;
  }
}
html.layout-full > body > .main-content {
  width: 100%;
}
html.layout-full > body > .main-content > header {
  width: 100%;
}
html.layout-full > body > .main-content > .content-wrap {
  padding-bottom: 4rem;
}
html.layout-full > body > .main-content footer {
  font-size: 0.7rem;
  text-align: center;
  line-height: 2.7;
  width: 100%;
  height: 4rem;
  margin-top: 27px;
  position: absolute;
  bottom: -4rem;
}
html.layout-full > body > .main-content footer > div.footer-row-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
html.layout-full > body > .main-content footer > div.footer-row-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
html.layout-full > body > .main-content footer > div.footer-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  html.layout-full > body > .main-content {
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
  }
  html.layout-full > body > .main-content > header {
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
  }
}
html.layout-box-std > body > .main-content {
  display: grid;
  width: 100%;
  grid-template-columns: 100vw;
  grid-template-rows: auto;
}
html.layout-box-std > body > .main-content > header {
  grid-column: 2;
  grid-row: 1;
}
html.layout-box-std > body > .main-content > .content-wrap {
  grid-row: 2;
  grid-column: 2;
}
html.layout-box-std > body > .main-content footer {
  font-size: 0.7rem;
  text-align: center;
  line-height: 2.7;
  width: 100%;
  height: 4rem;
  margin-top: 27px;
  grid-row: 3/3;
  grid-column: 2/2;
}
html.layout-box-std > body > .main-content footer > div.footer-row-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
html.layout-box-std > body > .main-content footer > div.footer-row-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
html.layout-box-std > body > .main-content footer > div.footer-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  html.layout-box-std > body > .main-content {
    grid-template-columns: 10vw 80vw 10vw;
    grid-template-rows: auto auto auto;
  }
  html.layout-box-std > body > .main-content > header {
    grid-column: 2;
    grid-row: 1;
  }
  html.layout-box-std > body > .main-content > .content-wrap {
    grid-row: 2;
    grid-column: 2;
  }
}
html.layout-box-full > body > .main-content {
  display: grid;
  width: 100%;
  grid-template-columns: 100vw;
  grid-template-rows: auto;
}
html.layout-box-full > body > .main-content > header {
  grid-column: 1;
  grid-row: 1;
}
html.layout-box-full > body > .main-content > .content-wrap {
  grid-row: 2;
  grid-column: 1;
  grid-row: 1;
}
html.layout-box-full > body > .main-content footer {
  font-size: 0.7rem;
  text-align: center;
  line-height: 2.7;
  width: 100%;
  height: 4rem;
  margin-top: 27px;
  grid-row: 3/3;
  grid-column: 2/2;
}
html.layout-box-full > body > .main-content footer > div.footer-row-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
html.layout-box-full > body > .main-content footer > div.footer-row-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
html.layout-box-full > body > .main-content footer > div.footer-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  html.layout-box-full > body > .main-content {
    grid-template-columns: 10vw 80vw 10vw;
    grid-template-rows: auto auto auto;
  }
  html.layout-box-full > body > .main-content > header {
    grid-column: 1/-1;
    grid-row: 1/-1;
  }
  html.layout-box-full > body > .main-content > .content-wrap {
    grid-row: 2;
    grid-column: 1;
  }
}
html.layout-box-fill > body > .main-content {
  display: grid;
  width: 100%;
  grid-template-columns: 100vw;
  grid-template-rows: auto;
}
html.layout-box-fill > body > .main-content > header {
  display: none;
}
html.layout-box-fill > body > .main-content > .content-wrap {
  grid-row: 2;
  grid-column: 1;
  grid-row: 1;
}
html.layout-box-fill > body > .main-content footer {
  font-size: 0.7rem;
  text-align: center;
  line-height: 2.7;
  width: 100%;
  height: 4rem;
  margin-top: 27px;
  grid-row: 3/3;
  grid-column: 2/2;
}
html.layout-box-fill > body > .main-content footer > div.footer-row-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
html.layout-box-fill > body > .main-content footer > div.footer-row-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
html.layout-box-fill > body > .main-content footer > div.footer-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  html.layout-box-fill > body > .main-content {
    grid-template-columns: 10vw 80vw 10vw;
    grid-template-rows: auto auto auto;
  }
  html.layout-box-fill > body > .main-content > header {
    display: none;
  }
  html.layout-box-fill > body > .main-content > .content-wrap {
    grid-row: 2;
    grid-column: 1/-1;
    grid-row: 1/-1;
  }
}
html.layout-std > body,
html.layout-full > body,
html.layout-box-std > body,
html.layout-box-full > body,
html.layout-box-fill > body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
html.layout-std > body > .main-content,
html.layout-full > body > .main-content,
html.layout-box-std > body > .main-content,
html.layout-box-full > body > .main-content,
html.layout-box-fill > body > .main-content {
  position: relative;
}

html.layout-defaults {
  font-family: "Consola";
  font-size: 1.7rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: "/main-bg.jpg";
}
html.layout-defaults a {
  text-decoration: none;
  font-weight: 700;
}
html.layout-defaults a:hover {
  text-decoration: underline;
}

@media (min-width: 768px) {
  html.layout-defaults {
    background-image: "/main-bg.min.jpg";
  }
}