.show-init {
  display: "initial";
  visibility: visible;
}

.show-inline {
  display: "inline";
  visibility: visible;
}

.show-inline-block {
  display: "inline-block";
  visibility: visible;
}

.show-flex {
  display: "flex";
  visibility: visible;
}

.show-inline-flex {
  display: "inline-flex";
  visibility: visible;
}

.show-grid {
  display: "grid";
  visibility: visible;
}

.show-inline-grid {
  display: "inline-grid";
  visibility: visible;
}

.show-table {
  display: "table";
  visibility: visible;
}

.show-inline-table {
  display: "inline-table";
  visibility: visible;
}

.show-list-item {
  display: "list-item";
  visibility: visible;
}

.show-run-in {
  display: "run-in";
  visibility: visible;
}

.hide {
  display: none;
  visibility: hidden;
}

.show {
  display: block;
  visibility: visible;
}

[class*=show-] {
  display: none;
  visibility: hidden;
}

.r {
  width: 100%;
  max-width: 100%;
  height: auto;
}

@media (min-width: 0px) {
  .show-xs-init {
    display: "initial";
    visibility: visible;
  }
}
@media (min-width: 0px) {
  .show-xs-block {
    display: block;
    visibility: visible;
  }
}
@media (min-width: 0px) {
  .show-xs-inline {
    display: "inline";
    visibility: visible;
  }
}
@media (min-width: 0px) {
  .show-xs-inline-block {
    display: "inline-block";
    visibility: visible;
  }
}
@media (min-width: 0px) {
  .show-xs-flex {
    display: "flex";
    visibility: visible;
  }
}
@media (min-width: 0px) {
  .show-xs-inline-flex {
    display: "inline-flex";
    visibility: visible;
  }
}
@media (min-width: 0px) {
  .show-xs-grid {
    display: "grid";
    visibility: visible;
  }
}
@media (min-width: 0px) {
  .show-xs-inline-grid {
    display: "inline-grid";
    visibility: visible;
  }
}
@media (min-width: 0px) {
  .show-xs-table {
    display: "table";
    visibility: visible;
  }
}
@media (min-width: 0px) {
  .show-xs-inline-table {
    display: "inline-table";
    visibility: visible;
  }
}
@media (min-width: 0px) {
  .show-xs-list-item {
    display: "list-item";
    visibility: visible;
  }
}
@media (min-width: 0px) {
  .show-xs-run-in {
    display: "run-in";
    visibility: visible;
  }
}
@media (min-width: 576px) {
  .show-sm-init {
    display: "initial";
    visibility: visible;
  }
}
@media (min-width: 576px) {
  .show-sm-block {
    display: block;
    visibility: visible;
  }
}
@media (min-width: 576px) {
  .show-sm-inline {
    display: "inline";
    visibility: visible;
  }
}
@media (min-width: 576px) {
  .show-sm-inline-block {
    display: "inline-block";
    visibility: visible;
  }
}
@media (min-width: 576px) {
  .show-sm-flex {
    display: "flex";
    visibility: visible;
  }
}
@media (min-width: 576px) {
  .show-sm-inline-flex {
    display: "inline-flex";
    visibility: visible;
  }
}
@media (min-width: 576px) {
  .show-sm-grid {
    display: "grid";
    visibility: visible;
  }
}
@media (min-width: 576px) {
  .show-sm-inline-grid {
    display: "inline-grid";
    visibility: visible;
  }
}
@media (min-width: 576px) {
  .show-sm-table {
    display: "table";
    visibility: visible;
  }
}
@media (min-width: 576px) {
  .show-sm-inline-table {
    display: "inline-table";
    visibility: visible;
  }
}
@media (min-width: 576px) {
  .show-sm-list-item {
    display: "list-item";
    visibility: visible;
  }
}
@media (min-width: 576px) {
  .show-sm-run-in {
    display: "run-in";
    visibility: visible;
  }
}
@media (min-width: 768px) {
  .show-md-init {
    display: "initial";
    visibility: visible;
  }
}
@media (min-width: 768px) {
  .show-md-block {
    display: block;
    visibility: visible;
  }
}
@media (min-width: 768px) {
  .show-md-inline {
    display: "inline";
    visibility: visible;
  }
}
@media (min-width: 768px) {
  .show-md-inline-block {
    display: "inline-block";
    visibility: visible;
  }
}
@media (min-width: 768px) {
  .show-md-flex {
    display: "flex";
    visibility: visible;
  }
}
@media (min-width: 768px) {
  .show-md-inline-flex {
    display: "inline-flex";
    visibility: visible;
  }
}
@media (min-width: 768px) {
  .show-md-grid {
    display: "grid";
    visibility: visible;
  }
}
@media (min-width: 768px) {
  .show-md-inline-grid {
    display: "inline-grid";
    visibility: visible;
  }
}
@media (min-width: 768px) {
  .show-md-table {
    display: "table";
    visibility: visible;
  }
}
@media (min-width: 768px) {
  .show-md-inline-table {
    display: "inline-table";
    visibility: visible;
  }
}
@media (min-width: 768px) {
  .show-md-list-item {
    display: "list-item";
    visibility: visible;
  }
}
@media (min-width: 768px) {
  .show-md-run-in {
    display: "run-in";
    visibility: visible;
  }
}
@media (min-width: 992px) {
  .show-lg-init {
    display: "initial";
    visibility: visible;
  }
}
@media (min-width: 992px) {
  .show-lg-block {
    display: block;
    visibility: visible;
  }
}
@media (min-width: 992px) {
  .show-lg-inline {
    display: "inline";
    visibility: visible;
  }
}
@media (min-width: 992px) {
  .show-lg-inline-block {
    display: "inline-block";
    visibility: visible;
  }
}
@media (min-width: 992px) {
  .show-lg-flex {
    display: "flex";
    visibility: visible;
  }
}
@media (min-width: 992px) {
  .show-lg-inline-flex {
    display: "inline-flex";
    visibility: visible;
  }
}
@media (min-width: 992px) {
  .show-lg-grid {
    display: "grid";
    visibility: visible;
  }
}
@media (min-width: 992px) {
  .show-lg-inline-grid {
    display: "inline-grid";
    visibility: visible;
  }
}
@media (min-width: 992px) {
  .show-lg-table {
    display: "table";
    visibility: visible;
  }
}
@media (min-width: 992px) {
  .show-lg-inline-table {
    display: "inline-table";
    visibility: visible;
  }
}
@media (min-width: 992px) {
  .show-lg-list-item {
    display: "list-item";
    visibility: visible;
  }
}
@media (min-width: 992px) {
  .show-lg-run-in {
    display: "run-in";
    visibility: visible;
  }
}
@media (min-width: 1200px) {
  .show-xl-init {
    display: "initial";
    visibility: visible;
  }
}
@media (min-width: 1200px) {
  .show-xl-block {
    display: block;
    visibility: visible;
  }
}
@media (min-width: 1200px) {
  .show-xl-inline {
    display: "inline";
    visibility: visible;
  }
}
@media (min-width: 1200px) {
  .show-xl-inline-block {
    display: "inline-block";
    visibility: visible;
  }
}
@media (min-width: 1200px) {
  .show-xl-flex {
    display: "flex";
    visibility: visible;
  }
}
@media (min-width: 1200px) {
  .show-xl-inline-flex {
    display: "inline-flex";
    visibility: visible;
  }
}
@media (min-width: 1200px) {
  .show-xl-grid {
    display: "grid";
    visibility: visible;
  }
}
@media (min-width: 1200px) {
  .show-xl-inline-grid {
    display: "inline-grid";
    visibility: visible;
  }
}
@media (min-width: 1200px) {
  .show-xl-table {
    display: "table";
    visibility: visible;
  }
}
@media (min-width: 1200px) {
  .show-xl-inline-table {
    display: "inline-table";
    visibility: visible;
  }
}
@media (min-width: 1200px) {
  .show-xl-list-item {
    display: "list-item";
    visibility: visible;
  }
}
@media (min-width: 1200px) {
  .show-xl-run-in {
    display: "run-in";
    visibility: visible;
  }
}
@media (min-width: 0px) {
  .show-phone-init {
    display: "initial";
    visibility: visible;
  }
  .show-phone-block {
    display: block;
    visibility: visible;
  }
  .show-phone-inline {
    display: "inline";
    visibility: visible;
  }
  .show-phone-inline-block {
    display: "inline-block";
    visibility: visible;
  }
  .show-phone-flex {
    display: "flex";
    visibility: visible;
  }
  .show-phone-inline-flex {
    display: "inline-flex";
    visibility: visible;
  }
  .show-phone-grid {
    display: "grid";
    visibility: visible;
  }
  .show-phone-inline-grid {
    display: "inline-grid";
    visibility: visible;
  }
  .show-phone-table {
    display: "table";
    visibility: visible;
  }
  .show-phone-inline-table {
    display: "inline-table";
    visibility: visible;
  }
  .show-phone-list-item {
    display: "list-item";
    visibility: visible;
  }
  .show-phone-run-in {
    display: "run-in";
    visibility: visible;
  }
}
@media (min-width: 576px) {
  .show-tablet-init {
    display: "initial";
    visibility: visible;
  }
  .show-tablet-block {
    display: block;
    visibility: visible;
  }
  .show-tablet-inline {
    display: "inline";
    visibility: visible;
  }
  .show-tablet-inline-block {
    display: "inline-block";
    visibility: visible;
  }
  .show-tablet-flex {
    display: "flex";
    visibility: visible;
  }
  .show-tablet-inline-flex {
    display: "inline-flex";
    visibility: visible;
  }
  .show-tablet-grid {
    display: "grid";
    visibility: visible;
  }
  .show-tablet-inline-grid {
    display: "inline-grid";
    visibility: visible;
  }
  .show-tablet-table {
    display: "table";
    visibility: visible;
  }
  .show-tablet-inline-table {
    display: "inline-table";
    visibility: visible;
  }
  .show-tablet-list-item {
    display: "list-item";
    visibility: visible;
  }
  .show-tablet-run-in {
    display: "run-in";
    visibility: visible;
  }
}
@media (min-width: 768px) {
  .show-laptop-init {
    display: "initial";
    visibility: visible;
  }
  .show-laptop-block {
    display: block;
    visibility: visible;
  }
  .show-laptop-inline {
    display: "inline";
    visibility: visible;
  }
  .show-laptop-inline-block {
    display: "inline-block";
    visibility: visible;
  }
  .show-laptop-flex {
    display: "flex";
    visibility: visible;
  }
  .show-laptop-inline-flex {
    display: "inline-flex";
    visibility: visible;
  }
  .show-laptop-grid {
    display: "grid";
    visibility: visible;
  }
  .show-laptop-inline-grid {
    display: "inline-grid";
    visibility: visible;
  }
  .show-laptop-table {
    display: "table";
    visibility: visible;
  }
  .show-laptop-inline-table {
    display: "inline-table";
    visibility: visible;
  }
  .show-laptop-list-item {
    display: "list-item";
    visibility: visible;
  }
  .show-laptop-run-in {
    display: "run-in";
    visibility: visible;
  }
}
@media (min-width: 992px) {
  .show-computer-init {
    display: "initial";
    visibility: visible;
  }
  .show-computer-block {
    display: block;
    visibility: visible;
  }
  .show-computer-inline {
    display: "inline";
    visibility: visible;
  }
  .show-computer-inline-block {
    display: "inline-block";
    visibility: visible;
  }
  .show-computer-flex {
    display: "flex";
    visibility: visible;
  }
  .show-computer-inline-flex {
    display: "inline-flex";
    visibility: visible;
  }
  .show-computer-grid {
    display: "grid";
    visibility: visible;
  }
  .show-computer-inline-grid {
    display: "inline-grid";
    visibility: visible;
  }
  .show-computer-table {
    display: "table";
    visibility: visible;
  }
  .show-computer-inline-table {
    display: "inline-table";
    visibility: visible;
  }
  .show-computer-list-item {
    display: "list-item";
    visibility: visible;
  }
  .show-computer-run-in {
    display: "run-in";
    visibility: visible;
  }
}
@media (min-width: 1200px) {
  .show-screen-init {
    display: "initial";
    visibility: visible;
  }
  .show-screen-block {
    display: block;
    visibility: visible;
  }
  .show-screen-inline {
    display: "inline";
    visibility: visible;
  }
  .show-screen-inline-block {
    display: "inline-block";
    visibility: visible;
  }
  .show-screen-flex {
    display: "flex";
    visibility: visible;
  }
  .show-screen-inline-flex {
    display: "inline-flex";
    visibility: visible;
  }
  .show-screen-grid {
    display: "grid";
    visibility: visible;
  }
  .show-screen-inline-grid {
    display: "inline-grid";
    visibility: visible;
  }
  .show-screen-table {
    display: "table";
    visibility: visible;
  }
  .show-screen-inline-table {
    display: "inline-table";
    visibility: visible;
  }
  .show-screen-list-item {
    display: "list-item";
    visibility: visible;
  }
  .show-screen-run-in {
    display: "run-in";
    visibility: visible;
  }
}