.hide {
  display: none;
  visibility: hidden;
}

.show {
  display: block;
  visibility: visible;
}

.pointer:hover {
  cursor: pointer;
}

.brand-name,
.brand-name-r,
.brand-name-sm,
.brand-name-sm-r {
  font-family: "FranklinGothic";
  font-weight: bold;
}

.brand-name,
.brand-name-r {
  font-size: 2.5rem;
}

.brand-name-sm,
.brand-name-sm-r {
  font-size: 1.9rem;
}

@media (min-width: 768px) {
  .brand-name-r {
    font-size: 1.8rem;
  }
  .brand-name-sm-r {
    font-size: 1.3rem;
  }
}
.show-init {
  display: initial;
  visibility: visible;
}

.show-inline {
  display: inline;
  visibility: visible;
}

.show-inline-block {
  display: inline-block;
  visibility: visible;
}

.show-flex {
  display: flex;
  visibility: visible;
}

.show-inline-flex {
  display: inline-flex;
  visibility: visible;
}

.show-grid {
  display: grid;
  visibility: visible;
}

.show-inline-grid {
  display: inline-grid;
  visibility: visible;
}

.show-table {
  display: table;
  visibility: visible;
}

.show-inline-table {
  display: inline-table;
  visibility: visible;
}

.show-list-item {
  display: list-item;
  visibility: visible;
}

.show-run-in {
  display: run-in;
  visibility: visible;
}