.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.table-auto {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.mrg-auto {
  margin-left: auto;
  margin-right: auto;
}