div.creator-slider.style-default > label.switch {
  display: inline-block;
  height: 34px;
  position: absolute;
  width: 60px;
}
div.creator-slider.style-default > label.switch input {
  display: none;
}
div.creator-slider.style-default > label.switch > div.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  right: 0;
  top: 0;
  transition: 0.4s;
}
div.creator-slider.style-default > label.switch > div.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}
div.creator-slider.style-default > label.switch > div.slider.round {
  border-radius: 34px;
}
div.creator-slider.style-default > label.switch > div.slider.round:before {
  border-radius: 50%;
}
div.creator-slider.style-default > label.switch > input:checked + .slider {
  background-color: #303030;
}
div.creator-slider.style-default > label.switch > input:checked + .slider:before {
  transform: translateX(26px);
}

div.creator-slider.style-primary > label.switch {
  display: inline-block;
  height: 34px;
  position: absolute;
  width: 60px;
}
div.creator-slider.style-primary > label.switch input {
  display: none;
}
div.creator-slider.style-primary > label.switch > div.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  right: 0;
  top: 0;
  transition: 0.4s;
}
div.creator-slider.style-primary > label.switch > div.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}
div.creator-slider.style-primary > label.switch > div.slider.round {
  border-radius: 34px;
}
div.creator-slider.style-primary > label.switch > div.slider.round:before {
  border-radius: 50%;
}
div.creator-slider.style-primary > label.switch > input:checked + .slider {
  background-color: #b06c31;
}
div.creator-slider.style-primary > label.switch > input:checked + .slider:before {
  transform: translateX(26px);
}

div.creator-slider.style-success > label.switch {
  display: inline-block;
  height: 34px;
  position: absolute;
  width: 60px;
}
div.creator-slider.style-success > label.switch input {
  display: none;
}
div.creator-slider.style-success > label.switch > div.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  right: 0;
  top: 0;
  transition: 0.4s;
}
div.creator-slider.style-success > label.switch > div.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}
div.creator-slider.style-success > label.switch > div.slider.round {
  border-radius: 34px;
}
div.creator-slider.style-success > label.switch > div.slider.round:before {
  border-radius: 50%;
}
div.creator-slider.style-success > label.switch > input:checked + .slider {
  background-color: #238649;
}
div.creator-slider.style-success > label.switch > input:checked + .slider:before {
  transform: translateX(26px);
}

div.creator-slider.style-danger > label.switch {
  display: inline-block;
  height: 34px;
  position: absolute;
  width: 60px;
}
div.creator-slider.style-danger > label.switch input {
  display: none;
}
div.creator-slider.style-danger > label.switch > div.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  right: 0;
  top: 0;
  transition: 0.4s;
}
div.creator-slider.style-danger > label.switch > div.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}
div.creator-slider.style-danger > label.switch > div.slider.round {
  border-radius: 34px;
}
div.creator-slider.style-danger > label.switch > div.slider.round:before {
  border-radius: 50%;
}
div.creator-slider.style-danger > label.switch > input:checked + .slider {
  background-color: #a12d37;
}
div.creator-slider.style-danger > label.switch > input:checked + .slider:before {
  transform: translateX(26px);
}

div.creator-slider.style-warning > label.switch {
  display: inline-block;
  height: 34px;
  position: absolute;
  width: 60px;
}
div.creator-slider.style-warning > label.switch input {
  display: none;
}
div.creator-slider.style-warning > label.switch > div.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  right: 0;
  top: 0;
  transition: 0.4s;
}
div.creator-slider.style-warning > label.switch > div.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}
div.creator-slider.style-warning > label.switch > div.slider.round {
  border-radius: 34px;
}
div.creator-slider.style-warning > label.switch > div.slider.round:before {
  border-radius: 50%;
}
div.creator-slider.style-warning > label.switch > input:checked + .slider {
  background-color: #ffd24a;
}
div.creator-slider.style-warning > label.switch > input:checked + .slider:before {
  transform: translateX(26px);
}

div.creator-slider.style-info > label.switch {
  display: inline-block;
  height: 34px;
  position: absolute;
  width: 60px;
}
div.creator-slider.style-info > label.switch input {
  display: none;
}
div.creator-slider.style-info > label.switch > div.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  right: 0;
  top: 0;
  transition: 0.4s;
}
div.creator-slider.style-info > label.switch > div.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}
div.creator-slider.style-info > label.switch > div.slider.round {
  border-radius: 34px;
}
div.creator-slider.style-info > label.switch > div.slider.round:before {
  border-radius: 50%;
}
div.creator-slider.style-info > label.switch > input:checked + .slider {
  background-color: #46a3b6;
}
div.creator-slider.style-info > label.switch > input:checked + .slider:before {
  transform: translateX(26px);
}

div.creator-slider.style-light > label.switch {
  display: inline-block;
  height: 34px;
  position: absolute;
  width: 60px;
}
div.creator-slider.style-light > label.switch input {
  display: none;
}
div.creator-slider.style-light > label.switch > div.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  right: 0;
  top: 0;
  transition: 0.4s;
}
div.creator-slider.style-light > label.switch > div.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}
div.creator-slider.style-light > label.switch > div.slider.round {
  border-radius: 34px;
}
div.creator-slider.style-light > label.switch > div.slider.round:before {
  border-radius: 50%;
}
div.creator-slider.style-light > label.switch > input:checked + .slider {
  background-color: #bbb3b3;
}
div.creator-slider.style-light > label.switch > input:checked + .slider:before {
  transform: translateX(26px);
}

div.creator-slider.style-dark > label.switch {
  display: inline-block;
  height: 34px;
  position: absolute;
  width: 60px;
}
div.creator-slider.style-dark > label.switch input {
  display: none;
}
div.creator-slider.style-dark > label.switch > div.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  right: 0;
  top: 0;
  transition: 0.4s;
}
div.creator-slider.style-dark > label.switch > div.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}
div.creator-slider.style-dark > label.switch > div.slider.round {
  border-radius: 34px;
}
div.creator-slider.style-dark > label.switch > div.slider.round:before {
  border-radius: 50%;
}
div.creator-slider.style-dark > label.switch > input:checked + .slider {
  background-color: #2c2c2c;
}
div.creator-slider.style-dark > label.switch > input:checked + .slider:before {
  transform: translateX(26px);
}

div.creator-slider.style-antan > label.switch {
  display: inline-block;
  height: 34px;
  position: absolute;
  width: 60px;
}
div.creator-slider.style-antan > label.switch input {
  display: none;
}
div.creator-slider.style-antan > label.switch > div.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  right: 0;
  top: 0;
  transition: 0.4s;
}
div.creator-slider.style-antan > label.switch > div.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}
div.creator-slider.style-antan > label.switch > div.slider.round {
  border-radius: 34px;
}
div.creator-slider.style-antan > label.switch > div.slider.round:before {
  border-radius: 50%;
}
div.creator-slider.style-antan > label.switch > input:checked + .slider {
  background-color: #c44b30;
}
div.creator-slider.style-antan > label.switch > input:checked + .slider:before {
  transform: translateX(26px);
}

div.creator-slider.style-notify > label.switch {
  display: inline-block;
  height: 34px;
  position: absolute;
  width: 60px;
}
div.creator-slider.style-notify > label.switch input {
  display: none;
}
div.creator-slider.style-notify > label.switch > div.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  right: 0;
  top: 0;
  transition: 0.4s;
}
div.creator-slider.style-notify > label.switch > div.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}
div.creator-slider.style-notify > label.switch > div.slider.round {
  border-radius: 34px;
}
div.creator-slider.style-notify > label.switch > div.slider.round:before {
  border-radius: 50%;
}
div.creator-slider.style-notify > label.switch > input:checked + .slider {
  background-color: #1c436d;
}
div.creator-slider.style-notify > label.switch > input:checked + .slider:before {
  transform: translateX(26px);
}

div.creator-slider.style-funk > label.switch {
  display: inline-block;
  height: 34px;
  position: absolute;
  width: 60px;
}
div.creator-slider.style-funk > label.switch input {
  display: none;
}
div.creator-slider.style-funk > label.switch > div.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  right: 0;
  top: 0;
  transition: 0.4s;
}
div.creator-slider.style-funk > label.switch > div.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}
div.creator-slider.style-funk > label.switch > div.slider.round {
  border-radius: 34px;
}
div.creator-slider.style-funk > label.switch > div.slider.round:before {
  border-radius: 50%;
}
div.creator-slider.style-funk > label.switch > input:checked + .slider {
  background-color: #1976c5;
}
div.creator-slider.style-funk > label.switch > input:checked + .slider:before {
  transform: translateX(26px);
}