@use "..//Shared//Media" as media;
@use "sass:string" as string;

$docSizes: (
    mini: 1024px,
    mediun: 1440px,
    large: 1920px,
    full: 100%
);

$footerSizes: (
    normal: 2.5rem,
    big: 3rem,
    xl: 4.2rem,
    xxl: 6rem
);

@mixin bg($imgType: jpg, $size: cover, $imageName: null) {
    $name: bg-cover;

    @if ($size == contain) {
        $name: bg-contain;
    }

    @if ($imgType == png) {
        $name: $name + "-png";
    }

    .#{$name} {
        background-size: $size;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;

        @if ($imageName ==null) {
            background-image: #{url("/IMAGE/main-bg.min." + $imgType)};
        }

        @else {
            background-image: #{url($imageName)};
        }
    }
}

@each $docName, $docSize in $docSizes {
    @each $footerName, $footerSize in $footerSizes {
        $creatorName: "creator";

        @if not ($docName =="full") {
            $creatorName: #{$creatorName}-#{$docName};
        }

        @if not ($footerName =="normal") {
            $creatorName: #{$creatorName}-#{$footerName};
        }

        html.#{$creatorName} {
            box-sizing: border-box;
            font-size: 16px;

            &>body {
                margin: 0px;
                padding: 0px;
                min-height: 100vh;
                font-family: Verdana, Geneva, Tahoma, sans-serif;

                &>.main-content {
                    position: relative;
                    min-height: 100vh;
                    width: 100%;
                    max-width: $docSize;
                    margin-left: auto;
                    margin-right: auto;
                    padding: 12px;

                    &>.content-wrap {
                        padding-bottom: $footerSize;
                    }

                    &>footer {
                        position: absolute;
                        bottom: #{"-" + $footerSize};
                        font-size: 0.7rem;
                        line-height: 1.2;
                        width: 100%;
                        height: $footerSize;

                        &.center {
                            text-align: center;
                        }

                        &>span.separator {
                            $mrg: 8px;

                            font-size: 0.8rem;
                            margin-left: $mrg;
                            margin-right: $mrg;
                        }

                        &>div.flex {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }
            }
        }
    }
}

@include bg(jpg, cover);
@include bg(jpg, contain);
@include bg(png, cover);
@include bg(png, contain);

@include media.media() {
    .bg-cover,
    .bg-contain {
        background-image: url("/IMAGE/main-bg.jpg");

        &-png {
            background-image: url("/IMAGE/main-bg.png");
        }
    }
}
