@use "..//Shared//Media" as media;
@use "sass:string" as string;

$headerTags: (
    H1: 1.5rem,
    H2: 1.25rem,
    H3: 1.125rem,
    H4: 1rem,
    H5: 0.875rem,
    H6: 0.75rem
);

@mixin header($head, $size, $mediaSize, $padding: null, $margin: null) {
    $prefix: string.to-lower-case($head);

    @if ($padding != null) {
        $prefix: $prefix + "-pad";
    }

    @if ($margin != null) {
        $prefix: $prefix + "-mrg";
    }

    @if ($mediaSize != null) {
        $prefix: $prefix + "-r";
    }

    #{string.to-lower-case($prefix)} {
        @if ($mediaSize == null) {
            font-size: $size;
        }

        line-height: 2;
        font-weight: bold;

        @if ($padding ==null) {
            padding: 0;
        }
        @else {
            padding: 0;
            padding-left: $padding;
        }

        @if ($margin == null) {
            margin: 0;
        }
        @else {
            margin: $margin;
        }

        @if ($mediaSize != null) {
            font-size: $mediaSize !important;

            @include media.media() {
                font-size: $size;
            }
        }
    }
}

@each $head, $size in $headerTags {
    $tmp: $size - 0.5rem;

    @include header($head, $size, null);
    @include header($head, $size, null, 29px);
    @include header($head, $size, null, null, 27px);
    @include header($head, $size, null, 29px, 27px);
    @include header($head, $size, $tmp);
    @include header($head, $size, $tmp, 29px);
    @include header($head, $size, $tmp, null, 27px);
    @include header($head, $size, $tmp, 29px, 27px);
}
