@use "sass:string" as string;
@use "..//Shared//Media" as media;

$spaces: (
    SM: 8px,
    MD: 16px,
    LG: 24px,
    XL: 32px,
    XXL: 40px
);

$directions: (
    top,
    right,
    bottom,
    left
);

$mrg: 4px;
$pad: 3px;

@each $name, $size in $spaces {
    .mrg-#{string.to-lower-case($name)} {
        margin: $mrg;

        @each $dir in $directions {
            &-#{string.to-lower-case($dir)} {
                margin-#{$dir}: $mrg;
            }
        }
    }
}

@each $name, $size in $spaces {
    .pad-#{string.to-lower-case($name)} {
        padding: $pad;

        @each $dir in $directions {
            &-#{string.to-lower-case($dir)} {
                padding-#{$dir}: $pad;
            }
        }
    }
}

@include media.media() {
    @each $name, $size in $spaces {
        .mrg-#{string.to-lower-case($name)} {
            margin: $size;

            @each $dir in $directions {
                &-#{string.to-lower-case($dir)} {
                    margin-#{$dir}: $size;
                }
            }
        }
    }

    @each $name, $size in $spaces {
        .pad-#{string.to-lower-case($name)} {
            padding: $size;

            @each $dir in $directions {
                &-#{string.to-lower-case($dir)} {
                    padding-#{$dir}: $size;
                }
            }
        }
    }
}
