@use "sass:string" as str;
@use "Mixins" as mix;
@use "..//Shared//Resources" as resx;
@use "..//Shared//Functions" as func;

.hide {
    display: none;
    visibility: hidden;
}

.show {
    display: block;
    visibility: visible;
}

.pointer:hover {
    cursor: pointer;
}

@include mix.brandName();

@each $val in resx.$displayPropertyValues {
    @if not (func.equals($val, block)) and not (func.equals($val, none)) {
        .show-#{func.translate($val)} {
            display: str.unquote($val);

            @if not (func.equals($val, none)) {
                visibility: visible;
            }
            @else {
                visibility: hidden;
            }
        }
    }
}
